#app {
	height: 100%;
}

html,
body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family:
		Helvetica Neue,
		Helvetica,
		Arial,
		sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.swiper {
	width: 100%;
	height: 300px;
	padding-top: 25px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	width: 30%;

	/* Center slide text vertically */
	display: flex;
	justify-content: left;
	align-items: center;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
}

.swiper-button-prev,
.swiper-button-next {
	background-color: #fff;
	border: 1px solid rgb(249, 249, 249);
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
	width: 34px;
	height: 34px;
	margin-top: 0;
}

.swiper-button-prev {
	left: 15px;
}

.swiper-button-next {
	right: 15px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	color: #000;
	font-size: 12px;
}
